:root{
    --cinza-principal: #121212;
    --branco-cinza: #b3b3b3;
}

body{
    background-color: black;
}

h1{
    color: white;
}

.logo{
    background-color: var(--cinza-principal);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo img{
    width: 90px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation{
    background-color: var(--cinza-principal);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li{
    padding: 10px 0px;
}

.sidebar nav ul li a{
    color: var(--branco-cinza);
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

footer h3 {
    font-size: 17px;
    color: white;
    font-weight: 600;
    text-align: center;
}

footer span {
    color: #0FD90F;
}